.root {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin: 20px;
  li {
    &.selected a {
      /* Стилизуем ссылку внутри активного li */
      background-color: #f1be7c;
      border: 1px solid #211f1f;
      color: #ffffff;
    }
  }
}

a {
  color: #d88d57;
  background-color: #fffffe;
  border-radius: 30px;
  padding: 15px 20px;
  border: 1px solid #d88d57;
  cursor: pointer;
  margin: 5px;
  &:hover {
    background-color: #f1be7c;
    border: 1px solid #ffffff;
    .selected {
      background: #f1be7c;
      border: 1px solid #211f1f;
      color: #ffffff;
    }
    color: #ffffff;
  }
}
